 body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #c0c0c0; /* Set background color */
        }
        .navbar{
        background-color: #545961;
        }
         .navbar-brand img {
            max-height: 100px; /* Adjust logo height as needed */
        }

        /* Custom CSS for container */
        .container {
            height: 100px;
             /* Make container full height of the viewport */
        }

        /* Custom CSS for card */
        .card {
            border: none;
            background-color: rgba(0, 0, 0, 0.5);
        }

        /* Custom CSS for logo */
        .logo {
            width: 100px;
            margin-bottom: 100px; 
            margin-top: 100px/* Set width of the logo */
        }

        /* Custom CSS for buttons */
        .btn-outline-light {
            color: #fff; /* Set text color */
            border-color: #fff; /* Set border color */
        }

        .btn-outline-light:hover {
            color: #212529; /* Change text color on hover */
            background-color: #fff; /* Change background color on hover */
            border-color: #fff; /* Change border color on hover */
        }
        
        
        
         /* Custom CSS for footer */
        .footer {
            background-color: #545961;
            padding: 20px 0; /* Add some padding */
        }

        .footer a {
            color: #fff; /* Set link color */
            margin-right: 15px; /* Add some spacing between links */
        }