/* Style for the body */
body {
    font-family: Arial, sans-serif;
    background-color: #545961; /* Dark background color */
    margin: 0;
    padding: 0;
    color: #fff; /* White text color */
}

/* Style for the form container */
form {
    background-color: rgba(0, 0, 0, 0.5);  /* Darker background color */
    max-width: 400px; /* Limit width of the form */
    margin: 50px auto; /* Center the form horizontally */
    padding: 30px;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle effect */
}

/* Style for the form heading */
h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #fff; /* White text color */
}

/* Style for labels */
label {
    display: block;
    margin-bottom: 10px;
    color: #fff; /* White text color */
}

/* Style for input fields */
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none; /* Remove border */
    border-bottom: 1px solid #fff; /* Add bottom border */
    background-color: transparent; /* Transparent background */
    color: #fff; /* White text color */
    outline: none; /* Remove outline */
}

/* Style for the submit button */
input[type="submit"] {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    background-color: #007bff; /* Primary button color */
    color: #fff; /* Text color */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition */
}

input[type="submit"]:hover {
    background-color: #0056b3; /* Darker color on hover */
}